<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.supplier.infra.mapper.ItemSupAssignMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.test1.domain.entity.ItemSupAssign">
        <result column="item_sup_assign_id" property="itemSupAssignId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="rfx_header_id" property="rfxHeaderId" jdbcType="DECIMAL"/>
        <result column="rfx_line_item_id" property="rfxLineItemId" jdbcType="DECIMAL"/>
        <result column="rfx_line_supplier_id" property="rfxLineSupplierId" jdbcType="DECIMAL"/>
        <result column="max_limit_price" property="maxLimitPrice" jdbcType="DECIMAL"/>
        <result column="min_limit_price" property="minLimitPrice" jdbcType="DECIMAL"/>
        <result column="invite_flag" property="inviteFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
</mapper>