<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.supplier.infra.mapper.QuotationHeaderMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.test1.domain.entity.QuotationHeader">
        <result column="quotation_header_id" property="quotationHeaderId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="rfx_header_id" property="rfxHeaderId" jdbcType="DECIMAL"/>
        <result column="quotation_num" property="quotationNum" jdbcType="VARCHAR"/>
        <result column="round_number" property="roundNumber" jdbcType="DECIMAL"/>
        <result column="quotation_status" property="quotationStatus" jdbcType="VARCHAR"/>
        <result column="supplier_tenant_id" property="supplierTenantId" jdbcType="DECIMAL"/>
        <result column="supplier_company_id" property="supplierCompanyId" jdbcType="DECIMAL"/>
        <result column="supplier_company_name" property="supplierCompanyName" jdbcType="VARCHAR"/>
        <result column="tax_included_flag" property="taxIncludedFlag" jdbcType="DECIMAL"/>
        <result column="tax_id" property="taxId" jdbcType="DECIMAL"/>
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL"/>
        <result column="currency_code" property="currencyCode" jdbcType="VARCHAR"/>
        <result column="exchange_rate_id" property="exchangeRateId" jdbcType="DECIMAL"/>
        <result column="exchange_rate_type" property="exchangeRateType" jdbcType="VARCHAR"/>
        <result column="exchange_rate_date" property="exchangeRateDate" jdbcType="DATE"/>
        <result column="exchange_rate_period" property="exchangeRatePeriod" jdbcType="VARCHAR"/>
        <result column="quotation_remark" property="quotationRemark" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="business_attachment_uuid" property="businessAttachmentUuid" jdbcType="VARCHAR"/>
        <result column="tech_attachment_uuid" property="techAttachmentUuid" jdbcType="VARCHAR"/>
        <result column="entry_method" property="entryMethod" jdbcType="VARCHAR"/>
        <result column="submit_attachment_flag" property="submitAttachmentFlag" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>